# Conexão com o banco de dados MySQL Local
LOCAL_DB_URL=mysql+pymysql://usuario:senha@127.0.0.1:3306/nome_do_banco?charset=utf8mb4

# Configurações de CORS
CORS_ORIGINS=http://127.0.0.1:8000,http://localhost:3000
